# Исследование надёжности заёмщиков

## Описание проекта

Заказчик — кредитный отдел банка. Нужно разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Входные данные от банка — статистика о платёжеспособности клиентов.
Результаты исследования будут учтены при построении модели кредитного скоринга — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.



Проверить, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок?
Есть ли зависимость между количеством детей и возвратом кредита в срок?
Есть ли зависимость между семейным положением и возвратом кредита в срок?
Есть ли зависимость между уровнем дохода и возвратом кредита в срок?
Как разные цели кредита влияют на его возврат в срок?

## Ход исследования

О качестве данных ничего не известно. Поэтому перед проверкой гипотез понадобится обзор данных.

Нужно проверить данные на ошибки и оценить их влияние на исследование. 

Таким образом, исследование пройдёт в три этапа:

Обзор данных.
Предобработка данных.
Проверка гипотез.

## Описание данных

- children — количество детей в семье
- days_employed — общий трудовой стаж в днях
- dob_years — возраст клиента в годах
- education — уровень образования клиента
- education_id — идентификатор уровня образования
- family_status — семейное положение
- family_status_id — идентификатор семейного положения
- gender — пол клиента
- income_type — тип занятости
- debt — имел ли задолженность по возврату кредитов
- total_income — ежемесячный доход
- purpose — цель получения кредита

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

In [6]:
data['days_employed'] = data['days_employed'].abs()

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

In [14]:
data['education'] = data['education'].str.lower()

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

In [22]:
data

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем
2,0,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21520,1,4529.316663,43,среднее,1,гражданский брак,1,F,компаньон,0,224791,операции с жильем,B,операции с недвижимостью
21521,0,343937.404131,67,среднее,1,женат / замужем,0,F,пенсионер,0,155999,сделка с автомобилем,C,операции с автомобилем
21522,1,2113.346888,38,среднее,1,гражданский брак,1,M,сотрудник,1,89672,недвижимость,C,операции с недвижимостью
21523,3,3112.481705,38,среднее,1,женат / замужем,0,M,сотрудник,1,244093,на покупку своего автомобиля,B,операции с автомобилем
21524,2,1984.507589,40,среднее,1,женат / замужем,0,F,сотрудник,0,82047,на покупку автомобиля,C,операции с автомобилем

In [23]:
def get_report(data, columns):
    '''
    на вход подается словарь и названия столбцов
    на выходе отображается таблица для наглядности
    '''
    display(round(pd.DataFrame(data.items(), columns=columns), 2))
    
credit_count = data.shape[0] # общее количество взятых кредитов
mean_debt_rate = round(data['debt'].mean() * 100, 2) # средняя доля просрочки кредита

In [24]:
result = data.groupby('children')['debt'].mean()*100

get_report(result, ['Кол-во детей', 'Процент просрочки'])

   Кол-во детей  Процент просрочки
0             0               7.54
1             1               9.23
2             2               9.45
3             3               8.18
4             4               9.76
5             5               0.00

Категория людей без детей имеет самый низкий процент невозврата. Если посмотреть на строки 0, 1, 2 и 4 мы видим, что с ростом количества детей начинает снижаться возврат кредита. Но строка 5 имеет подозрительное значение 0%, посмотрим внимательнее

In [25]:
result = data['children'].value_counts() / credit_count * 100
get_report(result, ['Кол-во детей', 'Процент от взятых кредитов'])

   Кол-во детей  Процент от взятых кредитов
0             0                       66.06
1             1                       22.54
2             2                        9.62
3             3                        1.55
4             4                        0.19
5             5                        0.04

Заемщиков с 4 и 5 детьми крайне мало, чтобы можно было сделать какой-либо вывод.

In [26]:
result = {'нет': data.loc[data['children']==0, 'debt'].mean()*100,
          'есть': data.loc[data['children']!=0, 'debt'].mean()*100}

get_report(result, ['есть дети', 'Процент просрочки'])

  есть дети  Процент просрочки
0       нет               7.54
1      есть               9.24

**Вывод:** <br>
Не хватает данных, что установить прямую зависимость между количеством детей и возвратом кредита. Однако те, кто не имеет детей, возвращают кредиты лучше, чем заемщики с детьми.

In [27]:
result = data.groupby('family_status')['debt'].mean()*100

get_report(result, ['семейный статус', 'Процент просрочки'])

         семейный статус  Процент просрочки
0  Не женат / не замужем               9.76
1              в разводе               7.06
2         вдовец / вдова               6.62
3       гражданский брак               9.31
4        женат / замужем               7.56

In [28]:
result = data['family_status'].value_counts() / credit_count * 100
get_report(result, ['семейный статус', 'Процент от взятых кредитов'])

         семейный статус  Процент от взятых кредитов
0        женат / замужем                       57.48
1       гражданский брак                       19.38
2  Не женат / не замужем                       13.11
3              в разводе                        5.57
4         вдовец / вдова                        4.46

**Вывод:** <br>
Граждане, никогда не находившиеся в официальных отношениях (**Не женат / не замужем** и  **гражданский брак**), хуже возвращают кредит.

In [29]:
result = data.groupby('total_income_category')['debt'].mean()*100
get_report(result, ['Категория дохода', 'Взято кредитов'])

  Категория дохода  Взято кредитов
0                A            8.00
1                B            7.06
2                C            8.50
3                D            6.02
4                E            9.09

In [30]:
result = data['total_income_category'].value_counts() / credit_count * 100
get_report(result, ['Категория дохода', 'Процент от взятых кредитов'])

  Категория дохода  Процент от взятых кредитов
0                C                       74.64
1                B                       23.51
2                D                        1.64
3                A                        0.12
4                E                        0.10

**Вывод:** <br>
Согласно предложенной выше категоризацией доходов, зависимости между уровнем дохода и возвратом кредита нет.

In [31]:
result = data.groupby('purpose_category')['debt'].mean()*100
get_report(result, ['Категория дохода', 'Взято кредитов'])

           Категория дохода  Взято кредитов
0    операции с автомобилем            9.35
1  операции с недвижимостью            7.26
2     получение образования            9.25
3        проведение свадьбы            7.91

In [32]:
result = data['purpose_category'].value_counts() / credit_count * 100
get_report(result, ['цель кредита', 'Процент от взятых кредитов'])

               цель кредита  Процент от взятых кредитов
0  операции с недвижимостью                       50.40
1    операции с автомобилем                       20.06
2     получение образования                       18.70
3        проведение свадьбы                       10.84

**Вывод:** <br>
Операции с недвижимостью и проведение свадьбы имеют лучший процент возврата, чем затраты на образование и автомобиль. Интересно, связано ли это с выводом из одного из прошлых заданий, что связанные узами брака более дисциплинированно исполняют кредитные обязательства.

## Общий вывод.

Категоризация данных не везде сработала хорошо, поскольку появились категории с малым количеством наблюдений. <br>
Пропущенные данные в столбце *total_income* в размере ~10% от общего объема данных не помешали исследованию <br> 
Женатые/замужние, а так же бездетные берут кредиты чаще, чем все остальные. <br>
При этот чаще всего просрочка по кредиту возникает у холостых<br>